.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f3f3;
}

.auth-card {
  width: 350px;
  padding: 20px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}


.toggle-link {
  margin-top: 15px;
  color: #3f51b5;
  cursor: pointer;
  font-size: 14px;
}

.fade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
